body{
    max-width:1024px;
    max-height: 1366px;
    margin:auto;
    text-align: center;
    font-family: sans-seriff;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0)
}


h1{
    font-size: 45px;
}

h2{
    font-size: 24px;
    padding: 25px;
}

h3{
    font-size: 20px;
}

p{
    padding: 12px;
    font-size: 18px;
}

p.space{
    height: 50px;
}

p.cat{
    font-size: 70px;
    margin-bottom: 0;
    font-style: oblique;
}

td.line:first-child{
    border-bottom: 1px solid rgb(62, 59, 59);
    border-width: 2px;
}

.container1{
    display: inline-block;
    width: 300px;
    height: 600px;
    overflow: auto;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

.container2{
    display: inline-block;
    width: 300px;
    height: 600px;
    overflow: auto;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

.container3{
    display: inline-block;
    width: 300px;
    height: 600px;
    overflow: auto;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

table{
    display: block;
    width: auto;
    height: auto;
    overflow: auto;
    margin: 10px;
}

table img{
    height: 200px;
    width: 200px;
    margin-top: 10px;
}

td{
    padding-right: 00px;
    padding-bottom: 0px;
}

h1.italic{
    font-size: 45px;
    font-style: oblique;
    font-weight: normal;
    margin: 80px;
    margin-top: 50px;
    margin-bottom: 20px;
}
p.number{
    margin: 0;
    font-size: 90px;
    font-style: oblique;
}

.logo img{
    display: block;
    margin-left: 50px;
    margin-right: auto;
    width: 30%;
    height: auto;
}

.welcomelogo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 120px;
    width: 50%;
    height: auto;
}

.visa img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 15%;
    height: auto;
}
.pizza img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 15%;
    height: auto;
    display: inline-block;

}
.pizza1 img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 15%;
    height: auto;
    display: inline-block;
}
.pizza2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 15%;
    height: auto;
}

.typecard{
    margin-top: 0px;
    margin-bottom: 30px;
    background-color: #a0a0a0;
    border: none;
    color: rgb(0, 0, 0);
    padding: 1px 30px;
    border-radius: 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(0, 0, 0);
}

input[type=text] {
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: #a0a0a0;
  }

form.cardholder{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #a0a0a0;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    border-radius: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: 1px solid rgb(0, 0, 0);
}

form.cardnumber{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #a0a0a0;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    border-radius: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: 1px solid rgb(0, 0, 0);
}

form.valid{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #a0a0a0;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    border-radius: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: 1px solid rgb(0, 0, 0);
}

form.cvc{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #a0a0a0;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    border-radius: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;  
    border: 1px solid rgb(0, 0, 0);  
}

h1.paycash{
    font-size: 30px;
}

.button_pizza{
    font-size: 30px;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    position: fixed;
    left: 800px;
    top: 40px;
}

.button_pizza:hover{
    background-color: #4CAF50;
    color: white;
}

.button_pasta{
    font-size: 30px;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    position: fixed;
    top: 40px;
    left: 910px;
}

.button_pasta:hover{
    background-color: #4CAF50;
    color: white;
}

.content{
    padding: 0px;
    overflow: hidden;
    background-color:rgb(255, 255, 255);
    width: auto;
    height: auto;
}


.button1{
    background-color: #bb0000;
    border: none;
    color: rgb(0, 0, 0);
    padding: 30px 47px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 48px;
    border-radius: 40px;
    margin-top: 70px;
}

.button3{
    background-color: #40e200;
    border: none;
    color: rgb(0, 0, 0);
    padding: 30px 47px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 48px;
    border-radius: 10px;
    margin-top: 20px;
    float: left;
    margin-left: 360px;
}

.button4{
    background-color: #ff0000;
    border: none;
    color: rgb(0, 0, 0);
    padding: 30px 47px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 55px;
    border-radius: 10px;
    margin-top: 20px;
    float: right;
    margin-right: 360px;
}

.button5{
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: #a0a0a0;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    border-radius: 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    border: 1px solid rgb(0, 0, 0);
}

.button6{
    margin-top: 0px;
    margin-bottom: 40px;
    background-color: #a0a0a0;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    border-radius: 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    border: 1px solid rgb(0, 0, 0);
}

footer{
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;  
    margin-top: 100px;  
}
