<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css"> 
        <title>cashierchef</title>
    </head>
    <body>
        <div class="pizza">
            <div class="order1">
        <h4>ORDER 1</div> <img src="img/pizza1.jpg" alt="pizza"> <input type="checkbox" name="" id=""></h4></div>
        <div class="pizza1">
            <div class="order2">
        <h4>ORDER 2</div> <img src="img/pizza1.jpg" alt="pizza"> <input type="checkbox" name="" id=""></h4></div>
        <div class="pizza2">
            <div class="order3">
        <h4>ORDER 3</div> <img src="img/pizza1.jpg" alt="pizza"> <input type="checkbox" name="" id=""></h4></div>
    </body>
    <footer>
        &copy; Group 1-5
    </footer>
</html>  
