<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <title>Cash</title>
    </head>
    
    <body>
        <div class="logo">
        <img src="Photos/logo.png" alt="logo">
        </div>

        <h1 class="italic">Please go to the cash register<br>
            Our employee will help you</h1>
        <h1 class="italic">Total:</h1>
        <h1 class="italic" >Your order number</h1>
        <p class="number" >4</p>
    </body>

    <footer>
        &copy; Group 1-5
    </footer>

</html>
