<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/style.css"/>
        <title>Payment</title>
    </head>
    <body>
        <div class="logo">
        <img src="Photos/visa.png" alt="visa">
        </div>

        <div class="typecard">
        <h3>Payment Type: Card</h3>
        </div>

        <form class="cardholder">Cardholder name: <input type="text" name="Fname" placeholder="John Doe"></form>
        <form class="cardnumber">Card Number: <input type="text" name="Fname" placeholder="0000 0000 0000 0000"></form>
        <form class="valid">Valid through: <input type="text" name="Fname" placeholder="jan/00"></form>
        <form class="cvc">CVC: <input type="text" name="Fname" placeholder="000"></form>

        <form action="">
        <button class="button5" type="button">Pay</button>
        </form>

        <h1 class="paycash">Want to pay cash?</h1>
        
        <form action="Cash.html">
        <button class="button6" type="submit">Yes</button>
        </form>

    </body>

    <footer>
        &copy; Group 1-5
    </footer>

</html>
