<!DOCTYPE HTML>
<html>
    <head>
        <script data-require="jquery@3.1.1" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js%22%3E"></script>
        <link rel="stylesheet" href="static/css/style.css"/>
        <script src="script.js"></script>
    </head>
    <body>
        <div class="logo">
        <img src="Photos/logo.png" alt="logo">
        </div>
        <form method="POST" action="total.html">

        <table class="content">
            
            <tr>
                <td class="line">
                    <p class="cat">Pizza's</p>
                </td>    
            </tr>

            <tr>
                <td class="container1">
                    <img src="Photos/margherita.jpg" alt="">
                    <h1>Pizza<br>Margherita</h1>
                    <h2>€5.00</h2>
                    <p class="space">Tomato sauce, oregano and cheese</p>
                    <div class="quantity buttons_added">
                    <input type="number"  value="0" min='0' name = 'quantity1' />
                    </div>
                </td>
                <td class="container2">
                    <img src="Photos/salami.jpg" alt="">
                    <h1>Pizza<br>Salami</h1>
                    <h2>€6.00</h2>
                    <p class="space">Mozzarella, beef salami,tomato sauce</p>
                    <div class="quantity buttons_added">
                        <input type="number"   value="0" min='0' name = 'quantity2'/>                    </div>
                </td>
                <td class="container3">
                    <img src="Photos/BBQ.jpg" alt="">
                    <h1>Pizza<br>BBQ Chicken</h1>
                    <h2>€7.50</h2>
                    <p class="space">Mozzarella, onions,chicken, corn, bbq sauce,BBQ sauce</p>
                    <div class="quantity buttons_added">
                        <input type="number"   value="0" min='0' name = 'quantity3'/>                    </div>
                </td>
            </tr>
            <tr>
                <td class="container1">
                    <img src="Photos/4_cheese.jpg" alt="">
                    <h1>Pizza<br>4 Cheese</h1>
                    <h2>€6.50</h2>
                    <p class="space">Crème frache, mozzarella, Gouda cheese and gorgonzola, cheddar </p>
                    <div class="quantity buttons_added">
                        <input type="number" value="0" min='0' name = 'quantity4'/>                    </div>
                </td>
                <td class="container2">
                    <img src="Photos/doner.jpg" alt="">
                    <h1>Pizza<br>Doner</h1>
                    <h2>€5.50</h2>
                    <p class="space">Tomato sauce, mozzarella, iceberg lettuce, garlic and döner (halal) </p>
                    <div class="quantity buttons_added">
                        <input type="number"  value="0" min='0' name = 'quantity5'/>                    </div>
                </td>
                <td class="container3">
                    <img src="Photos/veggie.jpg" alt="">
                    <h1>Pizza<br>Veggie</h1>
                    <h2>€5.00</h2>
                    <p class="space">Tomato sauce, mozzarella, red onion, bell pepper, mushrooms, olives and extra mozzarella</p>
                    <div class="quantity buttons_added">
                        <input type="number"  value="0" min='0' name = 'quantity6'/>                    </div>
                </td>
            </tr>
            <tr>
                <td class="container1">
                    <img src="Photos/Hawaiian.jpg" alt="">
                    <h1>Pizza<br>Hawaiian</h1>
                    <h2>€7.50</h2>
                    <p class="space">Barbeque pizza</p>
                    <div class="quantity buttons_added">
                        <input type="number"  value="0" min='0' name = 'quantity7'/>                    </div>
                    </div>
                </td>
                <td class="container2">
                    <img src="Photos/barbeque.jpg" alt="">
                    <h1>Pizza<br>BBQ</h1>
                    <h2>€7.00</h2>
                    <p class="space">Spicy beef,onions, mozzarella barbecue sauce and smoked bacon strips</p>
                    <div class="quantity buttons_added">
                        <input type="number" value="0" min='0' name = 'quantity8'/>                    </div>
                    </div>
                </td>
                <td class="container3">
                    <img src="Photos/chocolate.jpg" alt="">
                    <h1>Pizza<br>Chocolate</h1>
                    <h2>€5.50</h2>
                    <p class="space">Chocolate and biscuit pieces</p>
                    <div class="quantity buttons_added">
                        <input type="number" value="0" min='0' name = 'quantity9'/>                    </div>
                    </div>
                </td>
            </tr>   

            <tr>
                <td class="line">
                    <p class="cat">Pasta's</p>
                </td>    
            </tr>

            <tr>
                <td class="container1">
                    <img src="Photos/bolognaise.jpg" alt="">
                    <h1>Spaghetti Bolognaise</h1>
                    <h2>€6.50</h2>
                    <p>Tomato sauce, minced beef, onion, cherry tomatoes and carrot</p>
                    <div class="quantity buttons_added">
                        <input type="number"  value="0" min='0' name = 'quantity10'/>                    </div>
                    </div>
                </td>
                <td class="container2">
                    <img src="Photos/carbonara.jpg" alt="">
                    <h1>Pasta Carbonara</h1>
                    <h2>€5.50</h2>
                    <p>Cream, bacon, onion, fresh egg, Grana Padano and parsley

                    </p>
                    <div class="quantity buttons_added">
                        <input type="number"  value="0" min='0' name = 'quantity11'/>                    </div>
                    </div>
                </td>
                <td class="container3">
                    <img src="Photos/macaroni.jpg" alt="">
                    <h1>Pasta Mac'&cheese</h1>
                    <h2>€6.00</h2>
                    <p>Cheddar, pancetta and cherry tomatoes</p>
                    <div class="quantity buttons_added">
                        <input type="number"  value="0" min='0' name = 'quantity12'/>                    </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="line">
                    <p class="cat">Drinks</p>
                </td>    
            </tr>

            <tr>
                <td class="container1">
                    <img src="Photos/coca.jpg" alt="">
                    <h1>Cola 330ml</h1>
                    <h2>€2.50</h2>
                    <div class="quantity buttons_added">
                        <input type="number"  value="0" min='0' name = 'quantity13'/>                    </div>
                    </div>
                </td>
                <td class="container2">
                    <img src="Photos/redbull.jpg"  alt="red bull">
                    <h1>Red bull</h1>
                    <h2>€3.00</h2>
                    <div class="quantity buttons_added">
                        <input type="number"  value="0" min='0' name = 'quantity14'/>                    </div>
                    </div>
                </td>
                <td class="container3">
                    <img src="Photos/spa.jpg" alt="">
                    <h1>Spa Intense 1L</h1>
                    <h2>€2.00</h2>
                    <div class="quantity buttons_added">
                        <input type="number"  value="0" min='0' name = 'quantity15'/>                    </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="container1">
                    <img src="Photos/sprite.jpg" alt="">
                    <h1>Sprite 330ml</h1>
                    <h2>€2.50</h2>
                    <div class="quantity buttons_added">
                        <input type="number"  value="0" min='0' name = 'quantity16'/>                    </div>
                    </div>
                </td>
                <td class="container2">
                    <img src="Photos/jupiler.jpg" alt="">
                    <h1>Jupiler 330ml</h1>
                    <h2>€4.00</h2>
                    <div class="quantity buttons_added">
                        <input type="number"  value="0" min='0' name = 'quantity17'/>                    </div>
                    </div>
                </td>
                <td class="container3">
                    <img src="Photos/fanta.jpg" alt="">
                    <h1>Fanta 330ml</h1>
                    <h2>€2.50</h2>
                    <div class="quantity buttons_added">
                        <input type="number"  value="0" min='0' name = 'quantity18'/>                    </div>
                    </div>
                </td>
            </tr>   
        </table>
    
        <input class="button1" type="submit" value='Order Here'/>
        </form> 

    


       
    
  
    </body>

    <footer>
        &copy; Group 1-5
    </footer>

</hmtl>
