<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/style.css"/>
        <title>Welcome</title>
    </head>
    <body>
        <div class="welcomelogo">
        <img src="static/Photos/logo.png" alt="logo">
        </div>

        <h1>Welcome</h1>

        <form action="template1.html">
            <button class="button1" type="submit">Order here</button>
        </form>

    </body>

    <footer>
        &copy; Group 1-5
    </footer>

</html>
